<h2 mat-dialog-title>
    <div>
        {{usuarios.dialogCecoTitleHeader}}
    </div>
</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="CentroCostoForm" (submit)="filtrarCentroCosto(CentroCostoForm.value)">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{usuarios.dialogCecoCodigoLabel}}</mat-label>
                    <input matInput placeholder="{{usuarios.dialogCecoCodigoPlaceholder}}" formControlName="IsCeco">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>{{usuarios.dialogCecoNombreLabel}}</mat-label>
                    <input matInput placeholder="{{usuarios.dialogCecoNombrePlaceholder}}" formControlName="IsNameCeco">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mtb-5">
                <button mat-flat-button color="primary" class="full-width">{{usuarios.dialogCecoFiltrarButton}}</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 mtb-5">
                <button color="primary" mat-flat-button class="full-width" (click)="seleccionarTodo()" type="button">{{usuarios.dialogCecoSeleccionarTodoButton}}</button>
            </div>
            <div class="col-sm-6 mtb-5">
                <button color="primary" mat-flat-button class="full-width" (click)="deseleccionarTodo()" type="button">{{usuarios.dialogCecoDeseleccionarTodoButton}}</button>
            </div>
        </div>
    </form>
        <mat-selection-list [(ngModel)]="seleccionarCentroCostos" [compareWith]="compareFunction">
            <mat-list-option *ngFor="let centro of centrocostos" [value]="centro">
                <div style="display: flex; align-items: center; flex-direction: row;">
                    <div style="width: 300px;">
                        {{centro.item}} - {{centro.name}}
                    </div>
                    <div>
                        {{centro.sociedad}}
                    </div>
                </div>
            </mat-list-option>
        </mat-selection-list>              
    </mat-dialog-content>

<div mat-dialog-actions>
    <button color="primary" mat-flat-button (click)="guardarCentroCostos()">{{usuarios.dialogCecoGuardarButton}}</button>
    <button color="primary" mat-flat-button (click)="cerrarDialog()">{{usuarios.dialogCecoCerrarButton}}</button>
</div>