<mat-progress-bar mode="indeterminate" *ngIf="indicadorCarga"></mat-progress-bar>
<h2>{{listarsolpe.titleHeader}}</h2>
<div class="separator"></div>
<form id="cabecera-listar-solpe" [formGroup]="cabeceraListarSolpeForm" (ngSubmit)="filtrarSolpe(cabeceraListarSolpeForm.value)" class="row">
    <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{listarsolpe.nroSolpeLabel}}</mat-label>
            <input type="text" matInput maxlength="8" formControlName="Id">
        </mat-form-field>
    </div>
    <div class="col-md-6">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{listarsolpe.FechaLabel}}</mat-label>
            <input type="date" matInput formControlName="Fecha">
        </mat-form-field>
    </div>
</form>
<div class="row" style="margin-bottom: 30px;">
    <div class="col-lg-6">
        <button mat-flat-button color="primary" class="full-width" form="cabecera-listar-solpe">
            {{listarsolpe.buscarButton}}
        </button>
    </div>
    <div class="col-lg-6">
        <button mat-flat-button color="primary" class="full-width" (click)="limpiarFiltros()">
            {{listarsolpe.limpiarFiltrosButton}}
        </button>
    </div>
</div>

<div class="mat-elevation-z8-custom" style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSourceListarSolpe">

        <ng-container matColumnDef="idField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.idSolpeColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.idField}} </td>
        </ng-container>

        <ng-container matColumnDef="nroreqField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.nroRequisicionColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.nroreqField}} </td>
        </ng-container>

        <ng-container matColumnDef="areaField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.areaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.areaField}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.fechaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{convertirFormatoFecha(element.fechaField)}} </td>
        </ng-container>

        <ng-container matColumnDef="monedaField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.monedaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.monedaField}} </td>
        </ng-container>

        <ng-container matColumnDef="centroField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.centroColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.centroField}} </td>
        </ng-container>

        <ng-container matColumnDef="descrSolpeField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.descripcionColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.descrSolpeField}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.estadoColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> 
               <div *ngIf="element.estadoField == 'P'"> {{listarsolpe.porLiberarDiv}} </div>
               <div *ngIf="element.estadoField == 'P1'"> {{listarsolpe.porLiberarDiv}} </div>
               <div *ngIf="element.estadoField == 'P2'"> {{listarsolpe.porLiberarDiv}} </div>
               <div *ngIf="element.estadoField == 'L'"> {{listarsolpe.liberadoDiv}} </div>
               <div *ngIf="element.estadoField == 'R'"> {{listarsolpe.rechazadoDiv}} </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="usuarioField">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.usuarioCreadorColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioField}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> {{listarsolpe.detalleColumnTable}} </th>
            <td mat-cell *matCellDef="let element; let i = index;"> 
                <button mat-icon-button color="primary" matTooltip="Visualizar detalle" (click)="listarDetalleSolpe(element.detalleField,element.idField)">
                    <mat-icon>assignment</mat-icon>
                </button>
                <button mat-icon-button matTooltip="Visualizar motivo de rechazo" *ngIf="element.estadoField == 'R'" color="primary" (click)="listarComentario(element.comentarioField,element.idField)">
                    <mat-icon>message</mat-icon>
                </button> 
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsListarSolpe"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsListarSolpe;"></tr>
    </table>
 
    <mat-paginator [pageSizeOptions]="[20, 50, 100]"
                    showFirstLastButtons 
                    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>


<!-- DETALLE DE SOLPE -->
<ng-template #dialogDetalleSolpe>
    <h2 mat-dialog-title>{{listarsolpe.dialogDetalleNroSolpeCT}} {{idSolpeSeleccionada}}</h2>
    <mat-dialog-content >
        <table mat-table [dataSource]="dataSourceListarDetalleSolpe">
    
            <ng-container matColumnDef="itemField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleItemCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.itemField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="presuField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetallePartidaCT}}<br/>{{listarsolpe.dialogDetallePresupuestoCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.presuField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="mengeField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleCantidadCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.mengeField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="meinsField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleUnidadCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.meinsField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="descrField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleDescripcionCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.descrField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="matnrField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleNroSapMaterialCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.matnrField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="ccostoField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleCecoCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.ccostoField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="glField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleGlCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.glField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="punitField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetallePrecioUnitarioCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.punitField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="totSinigvField">
                <th mat-header-cell *matHeaderCellDef> {{listarsolpe.dialogDetalleTotalCT}}<br/>{{listarsolpe.dialogDetalleSinIgvCT}} </th>
                <td mat-cell *matCellDef="let element"> {{element.totSinigvField}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsListarDetalleSolpe"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsListarDetalleSolpe;"></tr>
        </table>
     
        <mat-paginator [pageSizeOptions]="[20, 50, 100]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
        </mat-paginator>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button (click)="cerrarDetalle()">{{listarsolpe.dialogCerrarButton}}</button>
  </mat-dialog-actions>

</ng-template>

<!-- COMENTARIO RECHAZO SOLPE -->
<ng-template #dialogComentarioSolpe>
    <h2 mat-dialog-title>{{listarsolpe.dialogMotivoTitle}} {{idSolpeSeleccionada}}</h2>
    <mat-dialog-content>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{listarsolpe.dialogMotivoRechazoLabel}}</mat-label>
            <textarea matInput placeholder="{{listarsolpe.dialogMotivoRechazoPlaceholder}}" rows="2" maxlength="250" [(ngModel)]="IsComentario" [ngModelOptions]="{standalone: true}" disabled class="text-area-comentario"></textarea>
        </mat-form-field>
    </mat-dialog-content>
</ng-template>
