<h2>VISUALIZAR SOLPE</h2>
<hr>
<mat-progress-bar mode="indeterminate" *ngIf="indicadorCarga"></mat-progress-bar>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSourceListarSolpe">

        <ng-container matColumnDef="idField">
            <th mat-header-cell *matHeaderCellDef> ID SOLPE </th>
            <td mat-cell *matCellDef="let element"> {{element.idField}} </td>
        </ng-container>

        <ng-container matColumnDef="nroreqField">
            <th mat-header-cell *matHeaderCellDef> N° REQUISICIÓN </th>
            <td mat-cell *matCellDef="let element"> {{element.nroreqField}} </td>
        </ng-container>

        <ng-container matColumnDef="areaField">
            <th mat-header-cell *matHeaderCellDef> AREA </th>
            <td mat-cell *matCellDef="let element"> {{element.areaField}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaField">
            <th mat-header-cell *matHeaderCellDef> FECHA </th>
            <td mat-cell *matCellDef="let element"> {{convertirFormatoFecha(element.fechaField)}} </td>
        </ng-container>

        <ng-container matColumnDef="monedaField">
            <th mat-header-cell *matHeaderCellDef> MONEDA </th>
            <td mat-cell *matCellDef="let element"> {{element.monedaField}} </td>
        </ng-container>

        <ng-container matColumnDef="centroField">
            <th mat-header-cell *matHeaderCellDef> CENTRO </th>
            <td mat-cell *matCellDef="let element"> {{element.centroField}} </td>
        </ng-container>

        <ng-container matColumnDef="descrSolpeField">
            <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
            <td mat-cell *matCellDef="let element"> {{element.descrSolpeField}} </td>
        </ng-container>

        <ng-container matColumnDef="estadoField">
            <th mat-header-cell *matHeaderCellDef> ESTADO </th>
            <td mat-cell *matCellDef="let element"> 
               <div *ngIf="element.estadoField == 'P'"> POR LIBERAR </div>
               <div *ngIf="element.estadoField == 'P1'"> POR LIBERAR </div>
               <div *ngIf="element.estadoField == 'P2'"> POR LIBERAR </div>
               <div *ngIf="element.estadoField == 'L'"> LIBERADO </div>
               <div *ngIf="element.estadoField == 'R'"> RECHAZADO </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="usuarioField">
            <th mat-header-cell *matHeaderCellDef> USUARIO </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioField}} </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> DETALLE </th>
            <td mat-cell *matCellDef="let element; let i = index;"> 
                <button mat-icon-button color="primary" (click)="listarDetalleSolpe(element.detalleField,element.idField)">
                    <mat-icon>assignment</mat-icon>
                </button>    
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsListarSolpe"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsListarSolpe;"></tr>
    </table>
 
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                    showFirstLastButtons 
                    aria-label="Select page of periodic elements">
    </mat-paginator>
</div>


<!-- DETALLE DE SOLPE -->
<ng-template #dialogDetalleSolpe>
    <h2 mat-dialog-title>SOLPE N° {{idSolpeSeleccionada}}</h2>
    <mat-dialog-content >
        <table mat-table [dataSource]="dataSourceListarDetalleSolpe">
    
            <ng-container matColumnDef="itemField">
                <th mat-header-cell *matHeaderCellDef> ITEM </th>
                <td mat-cell *matCellDef="let element"> {{element.itemField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="presuField">
                <th mat-header-cell *matHeaderCellDef> PARTIDA<br>(PRESUPUESTO) </th>
                <td mat-cell *matCellDef="let element"> {{element.presuField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="mengeField">
                <th mat-header-cell *matHeaderCellDef> CANTIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.mengeField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="meinsField">
                <th mat-header-cell *matHeaderCellDef> UNIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.meinsField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="descrField">
                <th mat-header-cell *matHeaderCellDef> DESCRIPCIÓN </th>
                <td mat-cell *matCellDef="let element"> {{element.descrField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="matnrField">
                <th mat-header-cell *matHeaderCellDef> N° SAP MATERIAL </th>
                <td mat-cell *matCellDef="let element"> {{element.matnrField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="ccostoField">
                <th mat-header-cell *matHeaderCellDef> CENTRO DE COSTO </th>
                <td mat-cell *matCellDef="let element"> {{element.ccostoField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="glField">
                <th mat-header-cell *matHeaderCellDef> GL </th>
                <td mat-cell *matCellDef="let element"> {{element.glField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="punitField">
                <th mat-header-cell *matHeaderCellDef> P. UNITARIO </th>
                <td mat-cell *matCellDef="let element"> {{element.punitField}} </td>
            </ng-container>
    
            <ng-container matColumnDef="totSinigvField">
                <th mat-header-cell *matHeaderCellDef> TOTAL<br>(SIN IGV) </th>
                <td mat-cell *matCellDef="let element"> {{element.totSinigvField}} </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumnsListarDetalleSolpe"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsListarDetalleSolpe;"></tr>
        </table>
     
        <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
        </mat-paginator>
</mat-dialog-content>

</ng-template>
