<mat-drawer-container class="container" autosize>
    
    <mat-drawer #drawer class="sidenav" mode="side">
        <div style="background-color: #fff;display: flex;justify-content: center;border-radius: 8px;margin: 5px 0px;">
            <img src="../../../assets/images/great-panther-logo.png" width="150px" alt="">
        </div>
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Administración
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><button mat-button routerLink="/administracion/usuarios">Usuarios</button></li>
                    <li><button mat-button routerLink="/administracion/roles">Roles</button></li>
                    <li><button mat-button routerLink="/administracion/configuracion">Configuración</button></li>
                </ul>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Solpe
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li><button mat-button routerLink="/crear-solpe">Crear Solpe</button></li>
                    <li><button mat-button routerLink="/modificar-solpe">Modificar Solpe</button></li>
                    <li><button mat-button routerLink="/listar-solpe">Visualizar Solpes</button></li>
                    <li><button mat-button routerLink="/liberar-solpe">Liberar Solpe</button></li>
                </ul>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-drawer>
  
    <div class="sidenav-content">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-flat-button color="primary" (click)="openConsultarCerrarSesion()">Salir</button>
    </div>
    <main>
        <mat-card>
            <router-outlet></router-outlet>
        </mat-card>
    </main>
  </mat-drawer-container>


    <!-- CERRAR SESIÓN -->
    <ng-template #dialogConsultarCerrarSesion>
        <h2 mat-dialog-title>Está seguro que desea cerrar sesión?</h2>
        <mat-dialog-actions align="end">
          <button mat-button cdkFocusInitial mat-dialog-close>No</button>
          <button mat-button form="modificarRolUsuario" type="submit" (click)="cerrarSesion()">Si</button>
        </mat-dialog-actions>
      </ng-template>