<mat-card>
    <!-- <p>Acceso</p> -->
    <div class="div-img">
        <img src="../../../assets/images/great-panther-logo.png" alt="Great Panther" width="230">
    </div>
    
    <form [formGroup]="accesoForm" (submit)="acceder(accesoForm.value)">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{acceso.usuarioLabel}}</mat-label>
            <input matInput placeholder={{acceso.usuarioPlaceHolder}} formControlName="usuario" id="usuario" (keypress)="cambioUsuario()">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{acceso.contraseniaLabel}}</mat-label>
            <input matInput placeholder={{acceso.contraseniaPlaceholder}} type="password" formControlName="clave">
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
        <mat-label>{{acceso.idiomaSelectLabel}}</mat-label>
            <mat-select [formControl]="selectedLanguageControl" (selectionChange)="seleccionarIdioma($event.value)">
                <mat-option value="es"><div class="option"><img src="../../../assets/images/espana.png" width="25" /> Español</div></mat-option>
                <mat-option value="en"><div class="option"><img src="../../../assets/images/estados-unidos-de-america.png" width="25" /> Inglés</div></mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{acceso.sociedadSelectLabel}}</mat-label>
            <mat-select  [(ngModel)]="selectedValue" name="sociedad" formControlName="sociedad"  (click)="ListarSociedades()">
                <mat-option *ngIf="cargaSociedades">
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <mat-spinner [diameter]="20"></mat-spinner>
                    </div>
                </mat-option>
                <mat-option *ngIf="sociedadesNull">
                    {{acceso.socidadNullOption}}
                </mat-option>
                <mat-option *ngFor="let sociedad of sociedades" [value]="sociedad.bukrsField">
                    {{sociedad.bukrsField}} - {{sociedad.butxtField}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" class="full-width" [disabled]="!accesoForm.valid">{{acceso.ingresarButton}}</button>
    </form>
</mat-card>