mat-card{
    position: absolute;
    z-index: 1;
    width: 320px;
    margin: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    p {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }
    .div-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.option {
    display: flex !important;
    // justify-content: center;
    align-items: center !important;
}
.option > img {
    margin-right: 10px;
}

.full-width {
    width: 100%;
}
