.header-crear-solpe {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.inputs-header {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(150px,1fr));
    grid-gap:8px;
}

.item-input:nth-child(6) {
    grid-column: 3 span;
}

.full-width {
    width: 100%
}

table {
    width: 100%;
  }

  .button-footer {
      margin-top: 15px;
  }

.btn-agregar {
    margin-bottom: 18px;
}

.matchcode-icon{
    cursor: pointer;
}

.matchcode-icon:hover{
   color:#D29E0E;
}

// .mat-column-descr {
//     flex: none;
//     width: 150px;
// }