.header-crear-solpe {
    position: relative;
    width: 100%;
}

.full-width {
    width: 100%
}

table {
    width: 100%;
  }

  .button-footer {
      margin-top: 15px;
  }

.btn-cabecera {
    height: 50px;
}

.matchcode-icon{
    cursor: pointer;
}

.matchcode-icon:hover{
   color:#D29E0E;
}

.mat-column-descr {
    flex: none;
    width: 250px;
}
.mat-column-accion {
    flex: none;
    width: 250px;
}

textarea{
    height: 17px;
    
}
.descrip-form-filed{
    width: 250px;
}
