.header-modificar-solpe {
    position: relative;
    width: 100%;
    // display: grid;
    // grid-template-rows: repeat(2,1fr);
    // align-items: center;
}

.busqueda-header {
    // display: grid;
    // grid-template-columns: repeat(2,1fr);
    // align-items: center;
    // grid-gap:15px;
}

.btn-cabecera {
    // margin-bottom: 18px;
    height: 50px;
}

.inputs-header {
    // display: grid;
    // grid-template-columns:repeat(auto-fit, minmax(150px,1fr));
    // grid-gap:8px;
}

.item-input:nth-child(4) {
    // grid-column: 3 span;
}

.full-width {
    width: 100%
}

table {
    width: 100%;
}

.button-footer {
    margin-top: 15px;
}

.button-footer > button:nth-child(2){
    margin-left: 15px;
}

.matchcode-icon{
    cursor: pointer;
}

.matchcode-icon:hover{
   color:#D29E0E;
}

.mat-column-descr {
    flex: none;
    width: 150px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}