// .header-modificar-solpe {
//     position: relative;
//     width: 100%;
// }

.btn-cabecera {
    height: 50px;
}

.full-width {
    width: 100%
}

table {
    width: 100%;
}

.button-footer {
    margin-top: 15px;
}

.button-footer > button:nth-child(2){
    margin-left: 15px;
}

.matchcode-icon{
    cursor: pointer;
}

.matchcode-icon:hover{
   color:#D29E0E;
}

.mat-column-descr {
    flex: none;
    width: 250px;
}

.mat-column-stock{
    padding: 0 15px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descrip-form-filed{
    width: 250px;
}

.menge-form-filed {
    width: 80px;
}
.mat-column-stock{
    padding: 0 15px;
}

.mat-column-meins{
    padding: 0 15px;
}


textarea{
    height: 17px;
}

mat-form-field {
    padding: 5px;
}