.header-modificar-solpe {
    position: relative;
    width: 100%;
}

.btn-cabecera {
    height: 50px;
}

.full-width {
    width: 100%
}

table {
    width: 100%;
}

.button-footer {
    margin-top: 15px;
}

.button-footer > button:nth-child(2){
    margin-left: 15px;
}

.matchcode-icon{
    cursor: pointer;
}

.matchcode-icon:hover{
   color:#D29E0E;
}

.mat-column-descr {
    flex: none;
    width: 150px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}