table {
    width: 100%;
}

.row-table {
    cursor: pointer;
}

.row-table:hover {
    background-color: #d29e0e25;
    color:#fff;
}

.filter-matchcode{
    margin: 0 8px;
}
.full-width {
    width: 100%;
}

.btn-filter {
    margin: 8px 0;
}

