

<mat-progress-bar mode="indeterminate" *ngIf="indicadorCarga"></mat-progress-bar>

<h2 mat-dialog-title *ngIf="data.name == 'MATNR'">N° SAP MATERIAL</h2>
<h2 mat-dialog-title *ngIf="data.name == 'KOSTL'">CENTRO DE COSTO</h2>
<h2 mat-dialog-title *ngIf="data.name == 'WERKS'">CENTRO</h2>
<h2 mat-dialog-title *ngIf="data.name == 'MSEHI'">UNIDADES DE MEDIDA</h2>
<h2 mat-dialog-title *ngIf="data.name == 'SAKNR'">GL</h2>

<!-- fILTRO MATERIAL -->
<div *ngIf="data.name == 'MATNR'">
    <form [formGroup]="matchcodeMaterialForm" (submit)="filtrarMatchcodeMaterial(matchcodeMaterialForm.value)">
        <mat-form-field class="filter-matchcode" appearance="outline">
            <mat-label>Material</mat-label>
            <input matInput placeholder="Ingrese material" formControlName="IsMatnr">
        </mat-form-field>
        <mat-form-field class="filter-matchcode" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Ingrese descripción" formControlName="IsNameMatnr">
        </mat-form-field>
        <button mat-flat-button color="primary" class="full-width btn-filter">Filtrar</button>
    </form>
</div>

<!-- FILTRO CENTRO DE COSTO -->
<div *ngIf="data.name == 'KOSTL'">
    <form [formGroup]="matchcodeCentroCostoForm" (submit)="filtrarMatchcodeCentroCosto(matchcodeCentroCostoForm.value)">
        <mat-form-field class="filter-matchcode" appearance="outline">
            <mat-label>Centro de costo</mat-label>
            <input matInput placeholder="Ingrese centro de costo" formControlName="IsCeco">
        </mat-form-field>
        <mat-form-field class="filter-matchcode" appearance="outline">
            <mat-label>Descripción</mat-label>
            <input matInput placeholder="Ingrese descripción" formControlName="IsNameCeco">
        </mat-form-field>
        <button mat-flat-button color="primary" class="full-width btn-filter">Filtrar</button>
    </form>
</div>

<!-- FILTRO GL -->
<div *ngIf="data.name == 'SAKNR'">
    <form [formGroup]="matchcodeGLForm" (submit)="filtrarMatchcodeGL(matchcodeGLForm.value)">
        <!-- <mat-form-field class="filter-matchcode" appearance="outline">
            <mat-label>IsBukrs</mat-label>
            <input matInput placeholder="Ingrese IsBukrs" formControlName="IsBukrs">
        </mat-form-field> -->
        <mat-form-field class="filter-matchcode" appearance="outline">
            <mat-label>Cuenta mayor</mat-label>
            <input matInput placeholder="Ingrese cuenta mayor" formControlName="IsSaknr">
        </mat-form-field>
        <button mat-flat-button color="primary" class="full-width btn-filter">Filtrar</button>
    </form>
</div>

<!-- MATERIAL -->
<div *ngIf="data.name == 'MATNR'">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSourceMATNR" >
                <!-- matnrField Column -->
                <ng-container matColumnDef="matnrField">
                    <th mat-header-cell *matHeaderCellDef> Material </th>
                    <td mat-cell *matCellDef="let element"> {{element.matnrField}} </td>
                </ng-container>
                <!-- maktgField Column -->
                <ng-container matColumnDef="maktgField">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.maktgField}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsMATNR"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMATNR;" class="row-table" [mat-dialog-close]="row.matnrField"></tr>
        </table>
    </div>
<mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
</mat-paginator>
</div>

<!-- CENTRO DE COSTO -->
<div *ngIf="data.name == 'KOSTL'">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSourceKOSTL" >
                <!-- kostlField Column -->
                <ng-container matColumnDef="kostlField">
                    <th mat-header-cell *matHeaderCellDef> Centro de Costo </th>
                    <td mat-cell *matCellDef="let element"> {{element.kostlField}} </td>
                </ng-container>
                <!-- ktextField Column -->
                <ng-container matColumnDef="ktextField">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.ktextField}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsKOSTL"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsKOSTL;" class="row-table" [mat-dialog-close]="row.kostlField"></tr>
        </table>
    </div>
<mat-paginator [pageSizeOptions]="[10, 20, 30]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
</mat-paginator>
</div>

<!-- CENTRO -->
<div *ngIf="data.name == 'WERKS'">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSourceWERKS" >
                <!-- werksField Column -->
                <ng-container matColumnDef="werksField">
                    <th mat-header-cell *matHeaderCellDef> Centro </th>
                    <td mat-cell *matCellDef="let element"> {{element.werksField}} </td>
                </ng-container>
                <!-- name1Field Column -->
                <ng-container matColumnDef="name1Field">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.name1Field}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsWERKS"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsWERKS;" class="row-table" [mat-dialog-close]="row.werksField"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<!-- UNIDAD DE MEDIDA -->
<div *ngIf="data.name == 'MSEHI'">
    <div class="table-responsive">
        <table mat-table [dataSource]="dataSourceMSEHI" >
                <!-- msehiField Column -->
                <ng-container matColumnDef="msehiField">
                    <th mat-header-cell *matHeaderCellDef> Unidad de medida </th>
                    <td mat-cell *matCellDef="let element"> {{element.msehiField}} </td>
                </ng-container>
                <!-- msehlField Column -->
                <ng-container matColumnDef="msehlField">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let element"> {{element.msehlField}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumnsMSEHI"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsMSEHI;" class="row-table" [mat-dialog-close]="row.msehiField"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<!-- CUENTAS (GL) -->

<div *ngIf="data.name == 'SAKNR'">
    <div class="table-responsive">
    <table mat-table [dataSource]="dataSourceSAKNR" >
            <!-- saknrField Column -->
            <ng-container matColumnDef="saknrField">
                <th mat-header-cell *matHeaderCellDef> Cuenta mayor </th>
                <td mat-cell *matCellDef="let element"> {{element.saknrField}} </td>
            </ng-container>
            <!-- ktoplField Column -->
            <ng-container matColumnDef="ktoplField">
                <th mat-header-cell *matHeaderCellDef> Plan de cuentas </th>
                <td mat-cell *matCellDef="let element"> {{element.ktoplField}} </td>
            </ng-container>
            <!-- txt50Field Column -->
            <ng-container matColumnDef="txt50Field">
                <th mat-header-cell *matHeaderCellDef> texto de cuenta mayor </th>
                <td mat-cell *matCellDef="let element"> {{element.txt50Field}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumnsSAKNR"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnsSAKNR;" class="row-table" [mat-dialog-close]="row.saknrField"></tr>
    </table>
</div>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                     showFirstLastButtons 
                     aria-label="Select page of periodic elements">
    </mat-paginator>
</div>

<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-dialog-close [mat-dialog-close]="data.value" >Cerrar</button>
</mat-dialog-actions>
