<h2>{{usuarios.titleHeader}}</h2>
<div class="separator"></div>
<div class="header-module">
    <button mat-flat-button color="primary" (click)="openDialogCrearUsuario()">{{usuarios.crearUsuarioButton}}</button>
</div>
<div class="mat-elevation-z8-custom" style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSourceUsuarios">
  
      <!-- Nombres Column -->
      <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.nombresColumnTable}} </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
      </ng-container>
  
      <!-- Apellido Paterno Column -->
      <ng-container matColumnDef="ape_pat">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.apellidoPaternoColumnTable}} </th>
        <td mat-cell *matCellDef="let element"> {{element.ape_pat}} </td>
      </ng-container>
  
      <!-- Apellido Materno Column -->
      <ng-container matColumnDef="ape_mat">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.apellidoMaternoColumnTable}} </th>
        <td mat-cell *matCellDef="let element"> {{element.ape_mat}} </td>
      </ng-container>
  
      <!-- Correo Column -->
      <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.correoColumnTable}} </th>
        <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
      </ng-container>

      <!-- Usuario Column -->
      <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.usuarioColumnTable}} </th>
        <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
      </ng-container>

      <!-- Estado Column -->
      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.estadoColumnTable}} </th>
        <td mat-cell *matCellDef="let element">
            <mat-slide-toggle  matTooltip="{{usuarios.estadoToolTip}}" [disabled]="element.id == idUsuarioSesion.id ? true : false"  [checked]="element.estado == '1' ? true : false" (change)="modificarEstadoUsuario(element.id,$event)"></mat-slide-toggle>
        </td>
      </ng-container>

      <!-- accion Column -->
      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.accionColumnTable}} </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="openDialogModificarUsuario(element.id,element.usuario)">
              <mat-icon matTooltip="{{usuarios.editarToolTip}}">edit</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="openDialogModificarClaveUsuario(element.id)">
            <mat-icon matTooltip="{{usuarios.cambiarContraseniaToolTip}}">lock</mat-icon>
        </button>
          <button [disabled]="element.id == idUsuarioSesion.id ? true : false" mat-icon-button color="primary" (click)="openDialogEliminarUsuario(element.id)">
            <mat-icon matTooltip="{{usuarios.EliminarToolTip}}">delete</mat-icon>
          </button>
        </td>
      </ng-container>

       <!-- asignar rol Column -->
       <ng-container matColumnDef="rol">
        <th mat-header-cell *matHeaderCellDef> {{usuarios.rolColumnTable}} </th>
        <td mat-cell *matCellDef="let element">
          <button style="width: 150px;" mat-flat-button color="primary" (click)="openDialogModificarRolUsuario(element.id)">
              <!-- <mat-icon matTooltip="Asignar rol">filter_none</mat-icon> -->
              {{element.nombre_rol}}
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumnsUsuarios"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumnsUsuarios;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 30]"
                   showFirstLastButtons 
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>



  <!-- CREAR USUARIO -->

  <ng-template #dialogCrearUsuario>
    <h2 mat-dialog-title>{{usuarios.crearUsuarioHeader}}</h2>
    <mat-dialog-content class="mat-typography">
      <form id="crearUsuario" [formGroup]="crearUsuarioForm" (ngSubmit)="crearUsuario(crearUsuarioForm.value)">
        <div class="row">
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioNombresLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioNombresPlaceholder}}" formControlName="nombres">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioApellidoPaternoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioApellidoPaternoPlaceholder}}" formControlName="ape_pat">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioApellidoMaternoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioApellidoMaternoPlaceholder}}" formControlName="ape_mat">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioCorreoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioCorreoPlaceholder}}" formControlName="correo">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioTelefonoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioTelefonoPlaceholder}}" formControlName="telefono">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioCargoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioCargoPlaceholder}}" formControlName="cargo">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioUsuarioLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioUsuarioPlaceholder}}" formControlName="usuario">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioContraseniaLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.crearUsuarioContraseniaPlaceholder}}" formControlName="clave">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioRolSelectOption}}</mat-label>
            <mat-select formControlName="id_rol">
              <mat-option *ngFor="let rol of listaRoles" [value]="rol.id">
                {{rol.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <section class="slide-aprobador col-md-4">
            <mat-slide-toggle
            (change)="habilitarSegundoAprobador($event)"
                class="example-margin"
                [checked]="checked">
                {{usuarios.crearUsuarioDosAprobadores}}
            </mat-slide-toggle>
          </section>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioAprobadorUnoSelectOption}}</mat-label>
            <mat-select formControlName="isPrimerAprobador">
              <mat-option *ngFor="let aprobador of dataSourceUsuarios.data" [value]="aprobador.usuario">
                {{aprobador.nombres}} {{aprobador.ape_pat}} {{aprobador.ape_mat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioAprobadorDosSelectOption}}</mat-label>
            <mat-select formControlName="isSegundoAprobador" [disabled]="segundoAprobadorDisabled">
              <mat-option *ngFor="let aprobador of dataSourceUsuarios.data" [value]="aprobador.usuario">
                {{aprobador.nombres}} {{aprobador.ape_pat}} {{aprobador.ape_mat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="full-width" color="primary" mat-flat-button (click)="openDialogSociedades()" type="button">{{usuarios.crearUsuarioAsignarSociedadesButton}}</button>
          </div>
          <div class="col-md-6">
            <button class="full-width" color="primary" mat-flat-button (click)="openDialogCentroCostos()" type="button" disabled={{disabledBtnCeco}}>{{usuarios.crearUsuarioAsignarCecosButton}}</button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{usuarios.crearUsuarioCancelarButton}}</button>
      <button mat-button cdkFocusInitial form="crearUsuario" type="submit">{{usuarios.crearUsuarioGuardarButton}}</button>
    </mat-dialog-actions>
  </ng-template>

  <!-- MODIFICAR USUARIO -->

  <ng-template #dialogModificarUsuario>
    <h2 mat-dialog-title>{{usuarios.modificarUsuarioHeader}}</h2>
    <mat-dialog-content class="mat-typography">
      <form id="modificarUsuario" [formGroup]="modificarUsuarioForm" (ngSubmit)="modificarUsuario(modificarUsuarioForm.value)">
        <div class="row">
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioNombresLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarUsuarioNombresPlaceholder}}" formControlName="nombres">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioApellidoPaternoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarUsuarioApellidoPaternoPlaceholder}}" formControlName="ape_pat">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioApellidoMaternoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarUsuarioApellidoMaternoPlaceholder}}" formControlName="ape_mat">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioCorreoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarUsuarioCorreoPlaceholder}}" formControlName="correo">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.crearUsuarioTelefonoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarUsuarioTelefonoPlaceholder}}" formControlName="telefono">
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioCargoLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarUsuarioCargoPlaceholder}}" formControlName="cargo">
          </mat-form-field>
        </div>
        <div class="row">
          <section class="slide-aprobador col-md-4">
            <mat-slide-toggle
            (change)="habilitarSegundoAprobador($event)"
                class="example-margin"
                [checked]="checked">
            {{usuarios.modificarUsuarioDosAprobadores}}
            </mat-slide-toggle>
          </section>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioAprobadorUnoSelectOption}}</mat-label>
            <mat-select formControlName="isPrimerAprobador">
              <mat-option *ngFor="let aprobador of dataSourceUsuarios.data" [value]="aprobador.usuario.trim()">
                {{aprobador.nombres}} {{aprobador.ape_pat}} {{aprobador.ape_mat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="full-width col-md-4" appearance="outline">
            <mat-label>{{usuarios.modificarUsuarioAprobadorDosSelectOption}}</mat-label>
            <mat-select formControlName="isSegundoAprobador" [disabled]="segundoAprobadorDisabled">
              <mat-option *ngFor="let aprobador of dataSourceUsuarios.data" [value]="aprobador.usuario.trim()">
                {{aprobador.nombres}} {{aprobador.ape_pat}} {{aprobador.ape_mat}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="full-width" color="primary" mat-flat-button (click)="openDialogSociedades()" type="button">{{usuarios.modificarUsuarioAsignarSociedadesButton}}</button>
          </div>
          <div class="col-md-6">
            <button class="full-width" color="primary" mat-flat-button (click)="openDialogCentroCostos()" type="button" disabled={{disabledBtnCeco}}>{{usuarios.modificarUsuarioAsignarCecosButton}}</button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{usuarios.modificarUsuarioCancelarButton}}</button>
      <button mat-button cdkFocusInitial form="modificarUsuario" type="submit">{{usuarios.modificarUsuarioGuardarButton}}</button>
    </mat-dialog-actions>
  </ng-template>

  <!-- MODIFICAR ROL DE USUARIO -->
  <ng-template #dialogModificarRolUsuario>
    <h2 mat-dialog-title>{{usuarios.modificarRolHeader}}</h2>
    <mat-dialog-content class="mat-typography">
      <form id="modificarRolUsuario" [formGroup]="modificarRolUsuarioForm" (ngSubmit)="modificarRolUsuario(modificarRolUsuarioForm.value)">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{usuarios.modificarRolSelectOption}}</mat-label>
          <mat-select formControlName="id_rol">
            <mat-option *ngFor="let rol of listaRoles" [value]="rol.id">
              {{rol.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{usuarios.modificarRolCancelarButton}}</button>
      <button mat-button cdkFocusInitial form="modificarRolUsuario" type="submit">{{usuarios.modificarRolGuardarButton}}</button>
    </mat-dialog-actions>
  </ng-template>

<!-- MODIFICAR CLAVE DE USUARIO -->
  <ng-template #dialogModificarClaveUsuario>
    <h2 mat-dialog-title>{{usuarios.modificarClaveHeader}}</h2>
    <mat-dialog-content class="mat-typography">
      <form id="modificarClaveUsuario" [formGroup]="modificarClaveUsuarioForm" (ngSubmit)="modificarClaveUsuario(modificarClaveUsuarioForm.value)">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>{{usuarios.modificarClaveContraseniaLabel}}</mat-label>
            <input matInput placeholder="{{usuarios.modificarClaveContraseniaPlaceholder}}" formControlName="clave">
        </mat-form-field>
      </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{usuarios.modificarClaveCancelarButton}}</button>
      <button mat-button cdkFocusInitial form="modificarClaveUsuario" type="submit">{{usuarios.modificarClaveGuardarButton}}</button>
    </mat-dialog-actions>
  </ng-template>

  <!-- ELIMINAR USUARIO -->
  <ng-template #dialogEliminarUsuario>
    <h2 mat-dialog-title>{{usuarios.eliminarUsuarioHeader}}</h2>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>{{usuarios.eliminarUsuarioNoButton}}</button>
      <button mat-button cdkFocusInitial form="modificarRolUsuario" type="submit" (click)="eliminarUsuario()">{{usuarios.eliminarUsuarioSiButton}}</button>
    </mat-dialog-actions>
  </ng-template>