<mat-progress-bar mode="indeterminate" *ngIf="indicadorCarga"></mat-progress-bar>
<h2>{{liberarsolpe.titleHeader}}</h2>
<div class="separator"></div>
<div class="header-crear-solpe">

        <form id="cabecera-crear-solped" [formGroup]="cabeceraCrearSolpeForm" class="row">

                <mat-form-field class="full-width item-input col-md-6 full-width" appearance="outline">
                    <mat-label>{{liberarsolpe.usuarioLabel}}</mat-label>
                    <input type="text" matInput placeholder="{{liberarsolpe.usuarioPlaceholder}}" formControlName="Usuario">
                </mat-form-field>
                <mat-form-field class="full-width item-input col-md-6 full-width" appearance="outline">
                    <mat-label>{{liberarsolpe.fechaLabel}}</mat-label>
                    <input type="date" matInput formControlName="Fecha">
                </mat-form-field>

        </form>
    <!-- <div class="button-header row">
        <div style="padding: 10px 15px ; " class="full-width">
            <div class="col-md-6">
                <button mat-flat-button class="full-width" color="primary" (click)="buscarSolpe()">
                    Buscar Solpe
                </button>
            </div>
            <div class="col-md-6">
                <button mat-flat-button class="full-width" color="primary" (click)="obtenerListadoSolpes()" >
                    Limpiar Filtros
                </button>
            </div>
        </div>
    </div> -->

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-6">
            <button mat-flat-button class="full-width" color="primary" (click)="buscarSolpe()">
                {{liberarsolpe.buscarSolpeButton}}
            </button>
        </div>
        <div class="col-lg-6">
            <button mat-flat-button class="full-width" color="primary" (click)="obtenerListadoSolpes()" >
                {{liberarsolpe.limpiarFiltrosButton}}
            </button>
        </div>
    </div>

</div>

<div class="mat-elevation-z8-custom" style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSourceCrearSolpe">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.idSolpeColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.idField}} </td>
        </ng-container>

        <ng-container matColumnDef="nroreq">
            <th mat-header-cell *matHeaderCellDef> 	{{liberarsolpe.nroRequisicionColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.nroreqField}} </td>
        </ng-container>

        <ng-container matColumnDef="area">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.areaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.areaField}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.fechaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{formatearFecha(element.fechaField, 1)}} </td>
        </ng-container>

        <ng-container matColumnDef="moneda">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.monedaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.monedaField}} </td>
        </ng-container>

        <ng-container matColumnDef="descr">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.descripcionColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.descrSolpeField}} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.usuarioCreadorColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.usuarioField}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.accionColumnTable}} </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-icon-button color="primary" (click)="openAprobarSolpe(element.idField, element.usuarioField)">
                    <mat-icon matTooltip="{{liberarsolpe.toolTipAprobar}}">check_circle</mat-icon>
                </button>
                <button mat-icon-button color="primary" (click)="openRechazarSolpe(element.idField, element.usuarioField)">
                    <mat-icon matTooltip="{{liberarsolpe.toolTipRechazar}}">highlight_off</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="detalle">
            <th mat-header-cell *matHeaderCellDef> {{liberarsolpe.detalleColumnTable}} </th>
            <td mat-cell *matCellDef="let element; let i = index;">
                <button mat-icon-button color="primary" (click)="abrirDetalle(element)">
                    <mat-icon>assignment</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>

<!-- APROBAR SOLPED -->
<ng-template #dialogAprobarSolped>
    <h2 mat-dialog-title>{{liberarsolpe.dialogAprobarTitle}}</h2>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>{{liberarsolpe.dialogAprobarCancelarButton}}</button>
        <button mat-button cdkFocusInitial (click)="aprobarSolpe()" type="submit">{{liberarsolpe.dialogAprobarAceptarButton}}</button>
    </mat-dialog-actions>
</ng-template>

<!-- RECHAZAR SOLPED -->
<ng-template #dialogRechazarSolped>
    <h2 mat-dialog-title>{{liberarsolpe.dialogRechazarTitle}}</h2>
    <mat-dialog-content class="mat-typography">
        <form>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>{{liberarsolpe.dialogRechazarLabel}}</mat-label>
                <textarea matInput placeholder="{{liberarsolpe.dialogRechazarPlaceholder}}" rows="2" maxlength="250" [(ngModel)]="IsComentario" [ngModelOptions]="{standalone: true}"></textarea>
            </mat-form-field>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button cdkFocusInitial mat-dialog-close>{{liberarsolpe.dialogRechazarCancelarButton}}</button>
        <button mat-button (click)="rechazarSolpe()" type="submit">{{liberarsolpe.dialogRechazarAceptarButton}}</button>
    </mat-dialog-actions>
</ng-template>

<!-- BOTON PARA OBTENER LISTADO DE SOLPES - SE LIMPIA FILTROS -->
<!-- <div class="button-footer" >
    <button mat-flat-button color="primary" (click)="obtenerListadoSolpes()" >
        Limpiar Filtros
    </button>
</div> -->
