<h2 mat-dialog-title>
    <div>{{usuarios.dialogSociedadTitleHeader}}</div>
    <div class="row">
        <div class="col-sm-6 mtb-5">
            <button color="primary" mat-flat-button class="full-width" (click)="seleccionarTodo()" type="button">{{usuarios.dialogSociedadSeleccionarTodoButton}}</button>
        </div>
        <div class="col-sm-6 mtb-5">
            <button color="primary" mat-flat-button class="full-width" (click)="deseleccionarTodo()" type="button">{{usuarios.dialogSociedadDeseleccionarTodoButton}}</button>
        </div>
    </div>
</h2>



<mat-dialog-content class="mat-typography">
        <mat-selection-list [(ngModel)]="seleccionarSociedades" [compareWith]="compareFunction">
            <mat-list-option *ngFor="let sociedad of sociedades" [value]="sociedad">
              {{sociedad.item}} - {{sociedad.name}}
            </mat-list-option>
        </mat-selection-list>              
    </mat-dialog-content>

<div mat-dialog-actions>
    <button color="primary" mat-flat-button (click)="guardarSociedades()">{{usuarios.dialogSociedadGuardarButton}}</button>
    <button color="primary" mat-flat-button (click)="cerrarDialog()">{{usuarios.dialogSociedadCerrarButton}}</button>
</div>