<mat-progress-bar mode="indeterminate" *ngIf="indicadorCarga"></mat-progress-bar>
<h2>{{auditoria.titleHeader}}</h2>
<div class="separator"></div>
<div class="header-crear-solpe">
    <!-- <div class="button-header">
        <button mat-flat-button color="primary" (click)="buscarAuditoria()">
            Buscar Auditoría
        </button>
    </div> -->
    <!-- <div> -->
        <form id="cabecera-crear-solped" [formGroup]="cabeceraAuditoriaForm" class="row">
            <!-- <div class="inputs-header"> -->
                <!-- <mat-form-field class="full-width item-input" appearance="outline">
                    <mat-label>Acción</mat-label>
                    <input id="nroreq" type="text" matInput placeholder="Ingrese la acción" formControlName="Accion">
                </mat-form-field> -->
                <mat-form-field class="full-width col-md-2" appearance="outline">
                    <mat-label>{{auditoria.accionLabelOption}}</mat-label>
                    <mat-select formControlName="Accion">
                        <mat-option value="C">{{auditoria.creoSolpeOption}}</mat-option>
                        <mat-option value="M">{{auditoria.modificoSolpeOption}}</mat-option>
                        <mat-option value="E">{{auditoria.eliminoSolpeOption}}</mat-option>
                        <mat-option value="A">{{auditoria.aproboSolpeOption}}</mat-option>
                        <mat-option value="R">{{auditoria.rechazoSolpeOption}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="full-width item-input col-md-6" appearance="outline">
                    <mat-label>{{auditoria.usuarioLabel}}</mat-label>
                    <input type="text" matInput placeholder="Ingrese el usuario" formControlName="Usuario">
                </mat-form-field>
                <mat-form-field class="full-width item-input col-md-2" appearance="outline">
                    <mat-label>{{auditoria.fechaDesdeLabel}}</mat-label>
                    <input type="date" matInput formControlName="FechaDesde">
                </mat-form-field>
                <mat-form-field class="full-width item-input col-md-2" appearance="outline">
                    <mat-label>{{auditoria.fechaHastaLabel}}</mat-label>
                    <input type="date" matInput formControlName="FechaHasta">
                </mat-form-field>
            <!-- </div> -->

        </form>
    <!-- </div> -->

    <div class="row" style="margin-bottom: 30px;">
        <div class="col-lg-12"> 
            <button mat-flat-button class="full-width" color="primary" (click)="buscarAuditoria()">
                {{auditoria.buscarAuditoriaButton}}
            </button>
        </div>
    </div>

</div>

<div class="mat-elevation-z8-custom" style="overflow-x:auto;">
    <table mat-table [dataSource]="dataSourceAuditoria">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> {{auditoria.idColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="codi_solpe">
            <th mat-header-cell *matHeaderCellDef> {{auditoria.idSolpeColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.id_solpe}} </td>
        </ng-container>

        <ng-container matColumnDef="usuario">
            <th mat-header-cell *matHeaderCellDef> {{auditoria.usuarioColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.usuario}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> {{auditoria.fechaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{formatearFecha(element.fecha,1)}} </td>
        </ng-container>

        <ng-container matColumnDef="hora">
            <th mat-header-cell *matHeaderCellDef> {{auditoria.horaColumnTable}} </th>
            <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
        </ng-container>

        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> {{auditoria.accionLabelOption}} </th>
            <td mat-cell *matCellDef="let element">
                <div *ngIf="element.accion == 'C'">{{auditoria.creoSolpeOption}}</div>
                <div *ngIf="element.accion == 'M'">{{auditoria.modificoSolpeOption}}</div>
                <div *ngIf="element.accion == 'E'">{{auditoria.eliminoSolpeOption}}</div>
                <div *ngIf="element.accion == 'A'">{{auditoria.aproboSolpeOption}}</div>
                <div *ngIf="element.accion == 'R'">{{auditoria.rechazoSolpeOption}}</div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>

</div>

<div class="button-footer">
    <button mat-flat-button color="primary" form="cabecera-crear-solped" type="submit"
        (click)="obtenerListadoAuditoria()" >
        {{auditoria.limparFiltrosButton}}
    </button>
    <button mat-flat-button color="primary" form="cabecera-crear-solped" type="submit" (click)="exportar()"
        [disabled]="this.dataSourceAuditoria.data.length == 0">
        <mat-icon>cloud_download</mat-icon> {{auditoria.exportarExcelButton}}
    </button>
</div>