/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
* {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  &:hover {
      cursor: pointer;
  }
}

::-webkit-scrollbar-track{
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(184, 170, 131);
  border-radius: 15px;
}

.header-module {
    margin: 15px 0;
}

.background-snackbar {
    background: #D29E0E;
    color: #fff;
    button {
      background-color: #fff;
      color: #D29E0E;
    }
  }

.mat-tooltip {
  max-width: 100%;
}

.matchcode-icon {
  font-size: 15px!important;
  // padding: 0 20px!important;
}


.table-responsive {
  margin: 15px 0;
  display: block;
  width: 100%;
  overflow-x: auto;
  height: 300px;
  box-shadow: 1px 0px 10px rgba(134, 133, 133, 0.33);
  border-radius: 8px;
  .mat-table {
      width: 100%;
      max-width: 100%;
      margin-bottom: 1rem;
      display: table;
      border-collapse: collapse;
      margin: 0px;
  }
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

