/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
* {
    font-family: 'Roboto', sans-serif;
}

.header-module {
    margin: 15px 0;
}

.background-snackbar {
    background: #D29E0E;
    color: #fff;
    button {
      background-color: #fff;
      color: #D29E0E;
    }
  }