/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; }
* {
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  &:hover {
      cursor: pointer;
  }
}

::-webkit-scrollbar-track{
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(184, 170, 131);
  border-radius: 15px;
}

.header-module {
    margin: 15px 0;
}

.background-snackbar {
    background: #D29E0E;
    color: #fff;
    button {
      background-color: #fff;
      color: #D29E0E;
    }
  }

.mat-tooltip {
  max-width: 100%;
}

.matchcode-icon {
  font-size: 15px!important;
  // padding: 0 20px!important;
}